{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dojo</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/resources/dojo.css" />
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/claro.css" />
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojox/grid/resources/Grid.css" />
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojox/grid/resources/claroGrid.css" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script>
        dojoConfig = {
            has: {
                "dojo-firebug": true
            },
            parseOnLoad: true,
            baseUrl: "{% static 'js/dojoApp/*.js' %}"
        };
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js" data-dojo-config="async:1"></script>
</head>
<body class="claro">
{% block main %}
{% endblock %}
{% block script %}
{% endblock %}
</body>
</html>